{% extends 'mm_qs_app/base.html' %}

{% block content %}
<div>
    <h1 class="display-2 text-white bg-dark ml-0">Blog Posts</h1>
    <div class="row row-cols-1 ml-2">
        <h2 class="display-4">all posts</h2>
        {% for post in all_posts %}
            <div class="border mb-2 p-1">
                <h6 class="text-uppercase text-primary">{{post.title}}</h6>
              <p class="card-text">{{post.description}}</p>
              <p class="font-weight-bold font-italic">author: {{post.author}}</p>
            </div>
        {% endfor %}
        <h2 class="display-4">admins posts</h2>
        {% for post in admins_posts %}
            <div class="border mb-2 p-1">
              <h6 class="text-uppercase text-primary">{{post.title}}</h6>
                <p>{{post.description}}</p>
              <p class="font-weight-bold font-italic">author: {{post.author}}</p>
                <br>
            </div>
        {% endfor %}
      </div>
</div>
{% endblock %}